<!DOCTYPE html>
<html lang="ko" ng-app="app">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>	
	<!--
	<script src="http://192.168.123.103:3000/socket.io/socket.io.js"></script>   
	-->
	
	<script src="common.js"></script>
	<script src="datachannel.js"></script>
</head>
<body>
<div class="container" ng-controller="dataChannelCtrl">
	<h1>Caller</h1>

	<div>
		<button type="button" class="btn" ng-click="offer()" ng-hide="isCreatedOffer">Offer</button>	
		<button type="button" class="btn" ng-click="send1()">send 1</button>	
		<button type="button" class="btn" ng-click="send2()">send 2</button>	
		<input type="file" id="files" onchange="angular.element(this).scope().changeFile(this)" />
	</div>

	<div>
		<ul>
			<li>channel 1 : {{channel1}}</li>
			<li>channel 2 : {{channel2}}</li>
		</ul>
	</div>	
</div>		
</body>
</html>